@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,400;0,500;0,600;1,200;1,400;1,500&display=swap');
* {
    margin:0;
    padding:0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    cursor: pointer;
}
.wrapper {
    width: 100%;
}
.logo-pic {
    width: 70%;
    height: auto;
}
.header {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 18px;
    
    background-color: white;
    position: fixed; /* Cố định phần header */
    z-index: 1000;
}

.menu {
    list-style: none;
    display: flex;
}
.item {
    margin-right: 40px;
}

.item a {
    text-decoration: none;
    color: rgb(13, 13, 143);
    font-size: 20px;
    font-weight: bold;
    display: block;
}
#banner {
    width: 100%;
    height: 695px; /* Đặt chiều cao cho banner */ 
    background: url('./images/background.png');
    background-size: cover; /* Phủ toàn bộ diện tích banner */
    background-position: top;
    background-repeat: no-repeat;
    display: flex;
}

.slogan {
    font-size: 40px;
    color: white;
    margin-left: 750px;
    margin-top: 350px;    
    animation: blink 3s infinite;

}

@keyframes blink {
    0%, 100% {
        opacity: 1;
    }
    50% {
        opacity: 0;
    }
}

.to-bottom {
    position:absolute;
    bottom:-40px;
    left:50%;
    transform:translateX(-50%);
}

.body-content {
    padding-top:116px;
    padding-bottom: 78px;
    padding-left:134px;
    padding-right:134px;
    text-align: center
}

h2 {
    font-size: 30px;
    font-weight: bold;
    color: rgb(13, 13, 143);
    margin-bottom: 40px;
    margin-top: 40px;
    
}
.body-picture-group{
    display: flex;
}
.intro-pic{
    text-align: center;
    font-size: 30px;
    font-weight: bold;
    align-content: center;
}
.pic-group{
    display: flex;
    justify-content: space-between;
    padding-left: 100px;
    
}

.pic-group img {
    box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.5);
}
hr {
    width: 100%;
    height: 4px;
    background-color: rgb(13, 13, 143);
    margin-top: 40px;
    margin-bottom: 40px;

}
.body-intro-members{
    display: flex;
    padding-left: 200px;
    padding-right: 200px;
    justify-content: space-between;
    text-align: center;
}


.mem-left, .mem-mid, .mem-right {
    width: 30%; /* Điều chỉnh kích thước theo ý muốn */
    height: auto; /* Giữ tỷ lệ khung hình */
    margin: 0; /* Loại bỏ khoảng cách mặc định */
    padding: 0; /* Loại bỏ khoảng cách mặc định */
    text-align: center;
    border-radius: 10%;
    box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.5);
    
}
.mem-left, .mem-right{
    margin-top: 50px;
    margin-bottom: 50px;
}
.mem-mid{
    width: 35%;
    height: auto;
}

.mem-left .mem-mid .mem-right {
    animation: blink 3s infinite;
}


.mem-left, .mem-mid, .mem-right img {
    animation :animation 3s infinite linear; 
}


.mem-left, .mem-mid, .mem-right img:nth-child(1)
{
    animation-delay: 0.5s;
}
.mem-left, .mem-mid, .mem-right img:nth-child(2)
{
    animation-delay: 1s;
}

@keyframes animation {
    0%{
        transform:translateY(0px);
    }
    50%{
        transform: translateY(-10px);
    }
    100%{
        transform: translateY(0px);
    }
    
}
.text-intro{
    font-size: 20px;
    font-weight: bold;

    margin-top: 40px;
    margin-bottom: 40px;
}
.footer{
    background-color: rgb(13, 13, 143);
    color: white;
    text-align: center;
    padding: 10px;
    position: fixed;
    bottom: 0;
    width: 100%;
}